<div class="container">
    <h1>Registracija korisnika</h1>
    <form [formGroup]="registracijaForma" (ngSubmit)="onSubmit()" >
        <div class="row" >
            <div class="col-sm-6 form-group" >
                <label for="ime"><b>Unesite ime:</b></label>
                <input type="text" id="ime" class="form-control" formControlName="">
                <div *ngIf="registracijaForma.controls.ime.invalid">
                    Unesite ime:
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="prezime"><b>Unesite prezime:</b></label>
                <input type="text" id="prezime" class="form-control" formControlName="">
                <div *ngIf="registracijaForma.controls.prezime.invalid">
                    Unesite prezime:
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="grad"><b>Unesite grad:</b></label>
                <input type="text" id="grad" class="form-control" formControlName="">
                <div *ngIf="registracijaForma.controls.grad.invalid">
                    Unesite grad:
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="brTel"><b>Unesite broj telefona:</b></label>
                <input type="text" id="brTel" class="form-control" formControlName="">
                <div *ngIf="registracijaForma.controls.brTel.invalid">
                    Unesite broj telefona:
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="email"><b>Unesite email adresu:</b></label>
                <input type="text" id="email" class="form-control" formControlName="">
                <div *ngIf="registracijaForma.controls.email.invalid">
                    Unesite email adresu:
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="lozinka"><b>Unesite lozinku:</b></label>
                <input type="password" id="loznika" class="form-control" formControlName="">
                <div *ngIf="registracijaForma.controls.lozinka.invalid">
                    Unesite lozinku:
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="lozinkaOpet"><b>Ponovite lozinku:</b></label>
                <input  type="password" id="lozinkaOpet" class="form-control" formControlName="">
                <div *ngIf="registracijaForma.controls.lozinkaOpet.invalid">
                    Ponovite lozinku:
                </div>
            </div>
        </div>

        
       
        <div class="row">
            <div class="col-4">
                <button [disabled]="!registracijaForma.valid" class="btn btn-success" type="submit">REGISTRUJTE SE</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">OBRIŠI</button>
            </div>
        </div>
    </form>

</div>