<div class="container">
    <h1>Izaberite opciju</h1>



    <div class="row">
        <div class="col-sm-20">


            <ul class="btn-group">

                <li class="btn-group">
                    <a class="btn btn-secondary" type="btn" routerLink="/rentacar-dodaj" style="margin-left :20px">Dodaj
                        rent-a-car servis</a> <br>
                </li>

                <li class="btn-group">
                    <a class="btn btn-secondary" type="btn" routerLink="/avio-dodaj" style="margin-left :20px">Dodaj
                        aviokompaniju</a>
                </li>

                <li class="btn-group">
                    <a class="btn btn-secondary" type="btn" routerLink="/dodaj-admina-rent"
                        style="margin-left :20px">Dodaj
                        administratora rent-a-car servisa</a>
                </li>


                <li class="btn-column">
                    <a class="btn btn-secondary" type="btn" routerLink="/dodaj-admina-avio"
                        style="margin-left :20px">Dodaj
                        administratora aviokompanije</a>
                </li>
            </ul>
        </div>
    </div>

</div>