<div class="container">
    <h1>Registrovanje rent-a-car servisa</h1>
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="naziv"><b>Unesite naziv rent-a-car servisa:</b></label>
                <input type="text" id="naziv" class="form-control" formControlName="naziv">
                <div class = "text-danger" *ngIf="service.formModel.get('naziv').errors?.required">
                    Ovo polje je obavezno!
                </div>
                    <div *ngIf="service.formModel.get('naziv').touched && service.formModel.get('naziv').errors?.maxlength" class="text-danger">
                        Naziv može sadržati maksimalno 30 karaktera
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="adresa"><b>Unesite adresu rent-a-car servisa:</b></label>
                <input type="text" id="adresa" class="form-control" formControlName="adresa">
                <div class = "text-danger" *ngIf="service.formModel.get('adresa').errors?.required">
                    Ovo polje je obavezno!
                </div>
                <div *ngIf="service.formModel.get('adresa').touched && service.formModel.get('adresa').errors?.maxlength" class="text-danger">
                    Adresa može sadržati maksimalno 30 karaktera
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="admin">Admin</label>
                <select id="admin" class="form-control" formControlName="admin">
                        <option *ngFor="let item of listItems" [value]="item" >{{item}}</option>
                </select>
                    <div *ngIf="service.formModel.get('admin').touched && service.formModel.get('admin').errors?.required" class="text-danger">
                        Morate odabrati admina!
                    </div>
               
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <button [disabled]="!service.formModel.valid" class="btn btn-success" type="submit">REGISTRUJ SERVIS</button>
            </div>

            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">OBRIŠI</button> 
            </div>
            
        </div>
