<h3>Više podataka o aviokompaniji</h3>

<div>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Naziv aviokompanije</th>
                <th scope="col">Adresa aviokompanije</th>
                <th scope="col">Ocena aviokompanije</th>
                <th scope="col">Opis aviokompanije</th>
                <th scope="col">Cenovnik aviokompanije</th>
                <th scope="col">Spisak aviona aviokompanije</th>
                <th scope="col">Filijale aviokompanije</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{servis.naziv}}</td>
                <td>{{servis.adresa}}</td>
                <td>{{servis.ocena}}</td>
                <td>{{servis.opis}}</td>
                <td>{{servis.cenovnik}}</td>
                <td>{{servis.spisak}}</td>
                <td>{{servis.filijale}}</td>
            
            </tr>
        </tbody>
    </table>
</div>
