<h3>Više podataka o aviokompaniji</h3>

<div>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Naziv aviokompanije</th>
                <th scope="col">Adresa aviokompanije</th>
                <th scope="col">Promotivni opis aviokompanije</th>
                <th scope="col">Destinacije</th>
                <th scope="col">Letovi</th>
                <th scope="col">Spisak karata sa popustima za brzu rezervaciju</th>
                <th scope="col">Konfiguracija segmenata i mesta u avionu</th>
                <th scope="col">Cenovnik i informacije o prtljagu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{servis.naziv}}</td>
                <td>{{servis.adresa}}</td>
                <td>{{servis.opis}}</td>
                <td>{{servis.destinacije}}</td>
                <td>{{servis.letovi}}</td>
                <td>{{servis.spisak}}</td>
                <td>{{servis.mesta}}</td>
                <td>{{servis.cenovnik}}</td>
            
            </tr>
        </tbody>
    </table>
</div>
