<hr/>
<h5 style="background-color: #b8d9c1; border-style:double;" align = "center">Rezultati filtriranja po zadatim parametrima</h5>
<table class="table" border="1" bgcolor="#b8d9c1">
    <thead class="thead-dark">
        <tr>
            <th>Naziv</th>
            <th>Sedište aviokompanije</th>
            <th>Prosečna ocena aviokompanije</th>
            <th>Detalji</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let aviokompanije of filteredAvio">
            <td>{{aviokompanije.naziv}}</td>
            <td>{{aviokompanije.adresa}}</td>
            <td>{{aviokompanije.infoPrtljag}}</td>
            <td> <button class="btn btn-success" routerLink="/avio-podaci/{{aviokompanije.id}}/profilKompanije">Detalji</button></td>
        </tr>
    </tbody>
</table>
