<h3>Pregled svih aviokompanija</h3>

<div>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Naziv aviokompanije</th>
                <th scope="col">Sedište aviokompanije</th>
                <th scope="col">Ocena aviokompanije</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let avio of allAvio">
                <td>{{avio.naziv}}</td>
                <td>{{avio.adresa}}</td>
                <td>{{avio.ocena}}</td>
                
                <td><button class="btn btn-success" routerLink = "/avio-servis/{{avio.naziv}}/avio-podaci">Više o aviokompaniji</button></td>
               
            </tr>
        </tbody>
    </table>
</div>
