<div class="container" >

    <table border="1" class="table table-secondary" >
        <thead class="thead-dark">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Ocena
                </th>
                <th>
                   
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rc of allRentacarServisFilter">
                <td>{{rc.naziv}}</td>
                <td>{{rc.adresa}}</td>
                <td>{{rc.ocena}}</td>
                <!-- <ngb-rating [(rate)]="ser.ocena"></ngb-rating> --> 
                <td>
                <!-- Prenos id-ja kao parametra putanje komponenti -->
                <button class="btn btn-success" routerLink="/rentacar-servis/{{rc.id}}/rentacar-podaci">
                    Detalji
                </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>