
<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
  <div class="col-sm-6 form-group">
    <label>Korisnicko ime</label>
    <input class="form-control" #KorisnickoIme="ngModel" name="KorisnickoIme" [(ngModel)]="formModel.KorisnickoIme" required>
  </div>
  <div class="col-sm-6 form-group">
    <label>Lozinka</label>
    <input type="password" class="form-control" #Lozinka="ngModel" name="Lozinka" [(ngModel)]="formModel.Lozinka" required>
  </div>
  <div class="col-sm-6 form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">PRIJAVITE SE</button>
    </div>
  </div>
</form>



