<nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #e3f2fd;">
    <a routerLink="" class="navbar-brand"> °°° AvioAuto agencija J&B °°° Dobrodošli!</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
           
            <li class="nav-item">
                <a class="btn btn-info my-2 my-sm-0" type="btn" routerLink="/registracija" style="margin-left :5px">Registracija korisnika</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-info my-2 my-sm-0" type="btn" routerLink="/prijava" style="margin-left :5px">Prijava korisnika</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-info my-2 my-sm-0" type="btn" routerLink="/rentacar-servis" style="margin-left :5px">Rent-a-car servisi</a>
            </li>
            
            <li class="nav-item">
                <a class="btn btn-info my-2 my-sm-0" type="btn" routerLink="/avio-servis" style="margin-left :5px">Aviokompanije</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-info my-2 my-sm-0" type="btn" routerLink="/prelaz" style="margin-left :5px">ADMIN
                </a>
            </li>
        </ul>
    </div>
</nav>