<div class="container">
    <h1>Registrovanje aviokompanije</h1>
    <form [formGroup]="service.formModel1" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="naziv"><b>Unesite naziv aviokompanije:</b></label>
                <input type="text" id="naziv" class="form-control" formControlName="naziv">
                <div class = "text-danger" *ngIf="service.formModel1.get('naziv').errors?.required">
                    Ovo polje je obavezno!
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="adresa"><b>Unesite adresu aviokompanije:</b></label>
                <input type="text" id="adresa" class="form-control" formControlName="adresa">
                <div class = "text-danger" *ngIf="service.formModel1.get('adresa').errors?.required">
                    Ovo polje je obavezno!
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <button [disabled]="!service.formModel1.valid" class="btn btn-success" type="submit">REGISTRUJ AVIOKOMPNAIJU</button>
            </div>
        </div>


