<h3>Više podataka o rent-a-car servisu</h3>

<div>
    <table class="table table-light" *ngIf="noviServis">
        <thead>
            <tr>
                <th scope="col">ID rent-a-car servisa</th>
                <th scope="col">Naziv rent-a-car servisa</th>
                <th scope="col">Adresa rent-a-car servisa</th>
               
                <th scope="col">Opis rent-a-car servisa</th>
                <th scope="col">Cenovnik rent-a-car servisa</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{noviServis.id}}</td>
                <td>{{noviServis.naziv}}</td>
                <td>{{noviServis.adresa}}</td>
            
                <td>{{noviServis.opis}}</td>
                <td>{{noviServis.cenovnik}}</td>
               
            </tr>
        </tbody>
    </table>


    
</div>

